[submodule "home/.oh-my-zsh"]
	path = home/.oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "home/.rbenv"]
	path = home/.rbenv
	url = https://github.com/sstephenson/rbenv.git
[submodule "home/.fzf"]
	path = home/.fzf
	url = ssh://git@github.com/junegunn/fzf.git
